<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"
</head>

<body>
        <h1>Wellcom EJS teamlate Engine</h1>
</body>
</html>


else{
        var data = user_md.getUserByEmail(params.email);
        if(data){
            data.then(function(users){
                var user = users[0];

                var status = helper.compare_password(params.password, user.password);
                if(!status){
                    res.render("signin", {data: {error: "Password Wrong"}});
                }else{
                    res.redirect("/admin/");
                }
            });
        }else{
            res.render("signin", {data: {error: "User not exists"}});
        }
    }


    <!DOCTYPE html>
    <html>
    <head>
        <title>Sign Up</title>
    
    <!-- <%- include ../layout/head %> -->
    </head>
    
    <body>
        <!-- <div class="container">
            <!-- <%- include ../layout/nav %> -->
    
            <div class="panel panel-default">
                    <div class="panel-heading">
                        Add new Post
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <!-- <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control" name="title" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input class="form-control" name="content" placeholder="Content">
                                    </div>
                                    <div class="form-group">
                                        <label>Author</label>
                                        <input class="form-control" name="author" placeholder="Author">
                                    </div>
                                    <div class="form-group">
                                        <label>Created</label>
                                        <input class="form-control" name="created" placeholder="Created">
                                    </div>
                                    <div class="form-group">
                                        <label>Updated</label>
                                        <input class="form-control" name="updated" placeholder="Updated">
                                    </div>
                                    <div class="form-group">
                                        <label>Actions</label>
                                        <input class="form-control" name="actions" placeholder="Actions">
                                    </div> -->
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
        </div> -->
    </body>
    </html>